@import 'src/styles/vars';

.dropdown {
  $color-border: #bbb;
  position: relative;
  cursor: pointer;
  &--open, &:hover {
    box-shadow: 1px 2px 3px 0 rgba(153, 153, 153, .5);

  }
  &-label {
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid $color-border;
    .dropdown:hover & {
      color: $color-focus;
      background: #fff;
      border-color: $color-focus;

    }
    .dropdown--open & {
      border-radius: 3px 3px 0 0;
      border-color: $color-focus;
      color: $color-focus;
      background: #fff;
    }
  }

  &-arrow {
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) translateY(-2px);
  }

  &-list {
    position: absolute;
    border: 1px solid $color-border;
    border-top: none;
    background: #fff;
    border-radius: 0 0 3px 3px;
    width: 100%;
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
    box-shadow: 1px 2px 3px 0 rgba(153, 153, 153, .5);
  }

  &-option {
    padding: 10px 20px;
    cursor: pointer;
    &--selected {
      background: $color-focus;
      color: #fff;
    }
    &:hover {
      background: $color-focus;
      opacity: 0.7;
      color: #fff;
    }
  }
}
