@import 'src/styles/vars';

.navigator {
  width: 24px;
  height: 24px;
  border-radius: 40px;
  border: 1px solid $color-text-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    background: #fff;
  }
}
